{% extends 'MsWebsiteBundle::layout.html.twig' %}


{% block content_header '' %}


{% block content %}
    <div class="span2">&nbsp;</div>
    
    <div class="span8">
    	<p class="well">
    		Hier kommt der Content rein...
    	</p>
    </div>
    
    <div class="span2">&nbsp;</div>

{% endblock %}